.application {
    & .container {
        & .application-header {
            & .rectangle:after {
                width: 172px;
            }
        }
    }
}




@media only screen and (min-width: 768px) {
    .container {
        & .application-header {
            & .rectangle:after {
                width: 172px;
            }

            & p {
                font: var(--medium-font);
            }
        }
    }
}

@media only screen and (min-width: 1280px) {

}