:root {
  /* Others */
  --anim-fast: 200ms ease-in;
  --anim-slow: 500ms ease-out;

  /* Fonts */
  --header-menu-font: 600 14px/1.29 'Manrope', sans-serif;
}

/* #region Socials */
.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.socials-dark {
  --icon-cl: var(--black);
  --icon-active-cl: var(--green);
  --border-cl: rgba(18, 20, 23, 0.1);
  --border-active-cl: rgba(77, 194, 116, 0.1);
}
@media only screen and (max-width: 1280px) {
  .socials-dark {
    display: none;
  }
}
.socials-light {
  --icon-cl: var(--gray);
  --icon-active-cl: var(--green);
  --border-cl: rgba(255, 255, 255, 0.1);
  --border-active-cl: rgba(77, 194, 116, 0.1);
}
.socials-item {
  width: 44px;
  height: 44px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color: var(--icon-cl);
  border: 1px solid var(--border-cl);
  border-radius: 10px;

  transition: var(--anim-fast);
  transition-property: color, border-color;
}
.socials-link:hover,
.socials-link:focus {
  color: var(--icon-active-cl);
  border-color: var(--border-active-cl);
}
.socials-icon {
  fill: currentColor;
}
/* #endregion */

.header {
  padding: 0 20px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 1280px) {
  .header .container {
    gap: 138px;
  }
}

/* #region Logo */
.logo {
  font: var(--medium-bold-font);
  color: var(--black);
}
.header-logo {
  padding: 20px 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .header-logo {
    padding: 20.5px 0;
  }
}
@media screen and (min-width: 1280px) {
  .header-logo {
    padding: 28.5px 0;
  }
}
.header-logo .logo-part {
  color: var(--green);
}
/* #endregion */

/* #region Burger */
.btn-burger {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: var(--black);
}
/* #endregion */

/* #region Navigation */
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.header-menu {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header-menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.header-menu-link {
  display: block;
  padding: 13px 0;
  font: var(--header-menu-font);
  transition: color var(--anim-fast);
}
.header-menu-link.current {
  position: relative;
  color: var(--cl-bg-accent);
}
.header-menu-link.current::after {
  content: '';
  position: absolute;
  bottom: 5;
  display: block;
  width: 37px;
  height: 2px;
  background-color: var(--green);
}
/* #endregion */

/* #region Mobile-menu */
.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--black);
  transition: var(--anim-fast);
  transition-property: transform, color;
}
@media not (hover: hover) {
  .mobile-menu-btn:active {
    transform: scale(0.96);
  }
}
@media only screen and (min-width: 1280px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-btn-icon {
  stroke: currentColor;
}
/* #endregion */
