
.benefits {
    & .container {
        & .wrapper {
            position: relative;
            background: var(--background-gradient);
            border-radius: 16px;
            padding: 40px 20px;
            overflow: hidden;

            & .benefits-title {
                color: var(--cl-white);
                font: var(--h1-font);
                margin-bottom:  537px;
                margin-left: auto;
                margin-right: auto;
                max-width: 295px;

                & .benefits-accent {
                    color: var(--mint);
                }
            }

            & .benefits-field {
                width: 110vw;
                position: absolute;
                left: 50%;
                right: 50%;
                bottom: 30px;
                transform: translateX(-50%);
                padding: 25px 36px;

                & .benefits-card {
                    position: relative;
                    border-radius: 16px;
                    width: 294px;
                    background: var(--cl-white);
                    padding: 40px 19px;
                    padding-right: 21px;
                    margin: 0 auto;

                    & .card-title {
                        font: var(--medium-bold-font);
                        text-align: left;
                        margin-bottom: 20px;
                    }

                    & .benefits-context {
                        & .benefits-list {
                            display: flex;
                            flex-direction: column;
                            row-gap: 16px;
                            min-width: 255px;
                            margin-bottom: 20px;

                            & .benefits-item {
                                display: flex;
                                align-items: center;
                                gap: 8px;

                                & .check-icon {
                                    width: 28px;
                                    height: 28px;
                                    display: flex;
                                    flex-shrink: 0;
                                    color: var(--white);
                                }

                                & .item-text {
                                    font: var(--btn-font);
                                    line-height: 1.43;
                                    letter-spacing: var(--ls-s);
                                }
                            }
                        }

                        & .button-master {
                            padding: 14px 57px;
                        }

                    }

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: inherit;
                        width: inherit;
                        height: 428px;
                        background: rgba(255, 255, 255, 0.5);;
                        margin: 0 auto 0;
                        transform: rotate(9deg);
                        z-index: -1;
                    }
                    &::after {
                        background: var(--light-green);
                        transform: rotate(-11deg);
                    }


                }
                & .benefits-image {
                    display: none;
                }
            }
        }
    }
}

    /*            }*/

    /*            & .button {*/
    /*            }*/

    /*            & .benefits-image {*/
    /*                display: none;*/
    /*            }*/
    /*        }*/
    /*    }*/


/* Наклонённые светлые фигуры */
/*.benefits-card::before,*/
/*.benefits-card::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  width: 120%;*/
/*  height: 70%;*/
/*  background: rgba(255, 255, 255, 0.3);*/
/*  border-radius: 30px;*/
/*  z-index: 1;*/
/*}*/

/*.benefits-card::before {*/
/*  bottom: -30px;*/
/*  left: -50px;*/
/*  transform: rotate(-10deg);*/
/*}*/

/*.benefits-card::after {*/
/*  top: -30px;*/
/*  right: -50px;*/
/*  transform: rotate(10deg);*/
/*}*/

/*.benefits-inner {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    background: var(--cl-white);*/
/*    border-radius: 20px;*/
/*    padding: 40px 30px;*/
/*    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 40px;*/
/*    max-width: 900px;*/
/*    margin: 0 auto;*/
/*}*/

/*.benefits-content {*/
/*    flex: 1;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*}*/

/*.card-title {*/
/*    font: var(--h4-font);*/
/*    color: var(--cl-black-rgb);*/
/*    margin-bottom: 10px;*/
/*    text-align: left*/
/*}*/

/*.benefits-list {*/
/*    list-style: none;*/
/*    padding-left: 0;*/
/*    margin: 0 0 20px 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 14px;*/
/*}*/


@media screen and (min-width: 768px) {
}
